<div class="aut">
    <mat-card class="content">
        <mat-card-header>
            <mat-card-title>{{getStateText()}}</mat-card-title>
        </mat-card-header>
        <div *ngIf="isLoginState()">
            <input  #loginEmail placeholder="Email"/>
            <input  #loginPassword placeholder="Password" type="password">
            <button 
                
            mat-flat-button color="primary" (click)="onLogin(loginEmail,loginPassword)">Login</button>
        </div>
        <div *ngIf="isRegisterState()">
            <input  #registerEmail placeholder="Email">
            <input  #registerPassword placeholder="Password" type="password">
            <input  #registerRPassword placeholder="Repeat Password" type="password">
            <button 
                
            mat-flat-button color="primary" (click)="onRegister(registerEmail,registerPassword,registerRPassword)">Register</button>
        </div>
        
        <mat-card-actions align="end">
            <button mat-flat-button
            (click)="onCreateAccountClick()">Register</button>
            <button mat-flat-button
            (click)="onLoginClick()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>