<div class="nav">
  <div class="navc">
    <div class="levo">
      <div><img src="../assets/slike/logo1.png" alt=""></div>
    </div>
    <div class="desno">
      <div *ngIf="!loggedIn()" (click)="onLoginClick()" class="nav-bar-items">Login</div>
            <div *ngIf="loggedIn() && userHasProfile" class="nav-bar-items" >
                 
            </div>
            <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items" >Logout</div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

