.home{
  width: 100%;
  height: 100%;
}


.homee{
  width: 100%;
  height: 100%;
  background: white;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.levo{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.desno {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
