<form>
    <label for="current">Current:</label>
    <input type="password" id="current" name="current"  >

    <label for="new">New:</label>
    <input type="password" id="new" name="new" >

    <label for="retype">Retype new:</label>
    <input type="password" id="retype" name="retype" >

    <button type="button" class="dugme" (click)="onProfileClick" [routerLink]="['/profile']">Save</button>
    <button type="button" class="dugme" (click)="onEditClick" [routerLink]="['/editprofile']" >Back</button>
  </form>
